In [2]:
import pandas as pd

In [3]:

gdelt = pd.read_csv("GDELT_events.csv")

In [5]:
gdelt.iloc[4:6,]

,id,originating_namespace,originating_id,group_id,actor1,actor2,action,occurred,source,created_at,modified_at
4,gdelt-861910281,gdelt,861910281,NaN,"{'code': 'CANJUD', 'name': 'CANADA', 'location...","{'code': 'MIL', 'name': 'MILITARY', 'location'...","{'code': '112', 'location': {'lat': 48.3833, '...",2019-07-26 17:30:00+00,https://www.sookenewsmirror.com/news/supreme-c...,2019-07-29 20:21:19.038424+00,2019-07-29 20:21:19.038424+00
5,gdelt-861910285,gdelt,861910285,NaN,"{'code': 'CHR', 'name': 'CHRISTIAN', 'location...","{'code': 'GOV', 'name': 'PRESIDENT', 'location...","{'code': '0253', 'location': {'lat': 12.4904, ...",2019-07-26 17:30:00+00,https://dailypost.ng/2019/07/26/leah-sharibu-c...,2019-07-29 20:21:19.038424+00,2019-07-29 20:21:19.038424+00

In [6]:
lower = 10
upper = 15
gdelt.iloc[lower:upper,]

,id,originating_namespace,originating_id,group_id,actor1,actor2,action,occurred,source,created_at,modified_at
10,gdelt-861910520,gdelt,861910520,NaN,"{'code': 'GOV', 'name': 'PRIME MINISTER', 'loc...","{'code': 'GBR', 'name': 'UNITED KINGDOM', 'loc...","{'code': '030', 'location': {'lat': 53.3331, '...",2019-07-26 17:30:00+00,https://www.nytimes.com/reuters/2019/07/26/wor...,2019-07-29 20:21:19.669093+00,2019-07-29 20:21:19.669093+00
11,gdelt-861910542,gdelt,861910542,NaN,"{'code': 'GOV', 'name': 'PRIME MINISTER', 'loc...","{'code': 'TUR', 'name': 'TURKEY', 'location': ...","{'code': '013', 'location': {'lat': 33.7, 'lon...",2019-07-26 17:30:00+00,http://dunyanews.tv/en/Pakistan/502254-PM-Imra...,2019-07-29 20:21:19.669093+00,2019-07-29 20:21:19.669093+00
12,gdelt-861910545,gdelt,861910545,NaN,"{'code': 'GOV', 'name': 'PRIME MINISTER', 'loc...","{'code': 'TURGOV', 'name': 'RECEP TAYYIP ERDOG...","{'code': '013', 'location': {'lat': 33.7, 'lon...",2019-07-26 17:30:00+00,http://dunyanews.tv/en/Pakistan/502254-PM-Imra...,2019-07-29 20:21:19.669093+00,2019-07-29 20:21:19.669093+00
13,gdelt-861910566,gdelt,861910566,NaN,"{'code': 'GOVHLH', 'name': 'HEALTH OFFICIAL', ...","{'code': 'EDU', 'name': 'SCHOOL', 'location': ...","{'code': '020', 'location': {'lat': 31.5502, '...",2019-07-26 17:30:00+00,https://us105fm.com/local-outbreak-of-whooping...,2019-07-29 20:21:19.669093+00,2019-07-29 20:21:19.669093+00
14,gdelt-861910592,gdelt,861910592,NaN,"{'code': 'IRL', 'name': 'IRELAND', 'location':...","{'code': 'EDU', 'name': 'SCHOOL', 'location': ...","{'code': '043', 'location': {'lat': 54.65, 'lo...",2019-07-26 17:30:00+00,https://www.independent.ie/breaking-news/irish...,2019-07-29 20:21:19.7153+00,2019-07-29 20:21:19.7153+00

just write a function that gets the content for one row and appends it, then maybe you can apply that function

In [10]:
from lxml import html
import requests
def get_content(df,row_index):
    url = df.iloc[row_index].source
    page = requests.get(url)
    tree = html.fromstring(page.content)
    paras = tree.xpath('//p/text()')
    return paras

In [17]:
get_content(gdelt,12)

['ISLAMABAD (Dunya News) – Turkish President Recep Tayyip Erdogan on Friday held a phone call with Prime Minister Imran Khan on Friday.',
 'During the telephonic conversation, matters pertaining to bilateral relations and regional issues came under discussion.',
 'PM Imran Khan apprised the Turkish President of current situation in Indian-occupied Kashmir and also discussed Afghan situation.',
 'The two leaders expressed satisfaction on Pak-Turk relations and assured each other of cooperation in various sectors.',
 'They agreed to hold a meeting of the Pak-Turk Strategic Cooperation Council this year in Islamabad.',
 'On the occasion, the prime minister said that he will look forward for Recep Tayyip Erdogan to visit Pakistan for the Pak-Turk Strategic Cooperation Council meeting.',
 ' ',
 ' ',
 ' ']

__What is the best way to handle titles? Do they go in the same column as content or in their own column? If we put them in the same column, do we have a dict = {"title"="This is my title","content" ="this is my content"] ?__

__on a somewhat related note, do we want to concatenate the different paragraphs into one body of text, or is it useful to have them as separate entries in a list?__

now modify get_content so that you append the content to the corresponding row

In [18]:
gdelt.columns

Index(['id', 'originating_namespace', 'originating_id', 'group_id', 'actor1',
       'actor2', 'action', 'occurred', 'source', 'created_at', 'modified_at'],
      dtype='object')

In [44]:
def get_content(df,row_index):
    if "content" not in df.columns:
        df.insert(len(df.columns),"content",None)

    url = df.iloc[row_index].source
    page = requests.get(url)
    tree = html.fromstring(page.content)
    paras = tree.xpath('//p/text()')
    #df.loc[row_index, "content"] =paras
    df.at[row_index, 'content'] = paras

In [45]:
get_content(gdelt,12)

In [46]:
gdelt.loc[12, "content"]

['ISLAMABAD (Dunya News) – Turkish President Recep Tayyip Erdogan on Friday held a phone call with Prime Minister Imran Khan on Friday.',
 'During the telephonic conversation, matters pertaining to bilateral relations and regional issues came under discussion.',
 'PM Imran Khan apprised the Turkish President of current situation in Indian-occupied Kashmir and also discussed Afghan situation.',
 'The two leaders expressed satisfaction on Pak-Turk relations and assured each other of cooperation in various sectors.',
 'They agreed to hold a meeting of the Pak-Turk Strategic Cooperation Council this year in Islamabad.',
 'On the occasion, the prime minister said that he will look forward for Recep Tayyip Erdogan to visit Pakistan for the Pak-Turk Strategic Cooperation Council meeting.',
 ' ',
 ' ',
 ' ']

modify get_content to take a row instead of a row_index

In [84]:
def get_content(row):
    if "content" not in row.index:
       df.insert(len(df.columns),"content",None)

    url = row["source"]
    page = requests.get(url)
    tree = html.fromstring(page.content)
    paras = tree.xpath('//p/text()')
    print(paras)
    #df.loc[row_index, "content"] =paras
    #row.at['content'] = paras
    row.loc['content'] = paras
    return row

In [85]:
get_content(gdelt.iloc[1])

['The Kingswood College band is undertaking a tour to the Western Cape during the August holidays and will be traveling to George, Mossel Bay, Gordon’s Bay, Somerset West and Cape Town.', 'The Kingswood Band comprising of 32 players, 18 girls and 14 boys make up this tour group. Three of the touring members are still in the Junior School. The youngest member, Eva Vassiliou is only 10 years old and the two Junior School boys, Kwanda Ningiza and Realeboha Kao, are both in Grade 7.', 'Our new Director of Music, Nici Coleman will also be going on the tour. She is a trumpet player and teaches all the brass pupils at the Kingswood Music School. Prior to joining Kingswood College, Coleman was the director of Music at Alexander Road High School in Port Elizabeth for 14 years before moving to Makhanda and taking up the position at Kingswood.', 'The band performs in a number of concerts and other events throughout the year, and goes on tour most years. The bands performances are largely given in support of various community projects in the Makhanda area. This gives the musicians a chance to engage with communities by virtue of music.', 'Since 2009, the Concert Band has played numerous concerts in aid of Hospice, with funds raised mainly going to Grahamstown Hospice as well as Sunshine Coast Hospice (Port Alfred) and occasionally other Hospice centres when on Tour. To date, ', 'these events have raised nearly R160 000.', 'Comments are closed.', '\r\n\t', '\r\n', '\r\n  ', '\r\n\t', '\r\n', 'The Rhodes University Community Engagement Division has launched Engagement in Action, a new podcast which aims to bring to life some of the many ways in which the University interacts with communities around it. Check it out below.']

/home/broken-haiku/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/broken-haiku/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

id                                                         gdelt-861910190
originating_namespace                                                gdelt
originating_id                                                   861910190
group_id                                                               NaN
actor1                   {'code': 'AFR', 'name': 'AFRICA', 'location': ...
actor2                                                                 NaN
action                   {'code': '036', 'location': {'lat': -33.3042, ...
occurred                                            2019-07-26 17:30:00+00
source                   https://www.grocotts.co.za/2019/07/26/kc-conce...
created_at                                   2019-07-29 20:21:18.949668+00
modified_at                                  2019-07-29 20:21:18.949668+00
content                  [The Kingswood College band is undertaking a t...
Name: 1, dtype: object

In [91]:
gdelt.head().apply(get_content)

KeyError: ('source', 'occurred at index id')